/*-------SUMMARY : ------------*/
/*BASE-GLOBAL FONT SIZE-------------*****7____until line 37***----------*/
/* HEADER NAV SECTION FOOTER--------*****38____until line 134***-------*/
/* INTERACTIVE SEARCH HEADER, LOGOS *****135____until line 233***-----*/
/* CARDS and PHOTO and DESCRIPTION--*****233___until line 440***-----*/

/*--------------------------BASE---GLOBAL FONT SIZE---------until line 37-------------------------*/
/* p body h1 h2  */
body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-size: 150%;
}
section > header > h2 {
    font-size: 130%;
    margin : 5vh 0 0 2vw;
}
.l-section__header > p{
    font-size: 100%;
}
.text-big {
    width: 100%;
    margin-top: 0;
    font-size: 120%;
    margin-left : 2vw;
    font-weight: bold;
 }
 .title_activity{
    font-size: 130%;
}
.h3_hotel_name{
    font-weight: bold;
    display: flex;
    }
/* HEADER NAV SECTION FOOTER ******until line 134*******/
/*-------------------HEADER AND NAV-----------------------------------*/
header{
    display: flex;
    width: 100%;
    height: 6vh;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo{
    margin-left: 3vw;
}
.Siteheader{
margin : 2vh 0 2vh 0;
}
nav{
    margin-right : 1vw;
    color :rgb(0, 100, 250);
    margin-top : 2vh;
    font-size: 110%;
}
a{
    cursor : pointer;
}
nav > a{
    padding : 4vh 0 0 0;
    margin : 0 3vw 0 0 ;
    text-decoration: none;
    color: black;
}
/* nav blue bar */
#picker{
    border: 2px solid;
    border-color: rgb(0, 100, 250) transparent transparent transparent;
    color : rgb(0, 100, 250)
}
/*---------------------------GLOBAL LAYOUT----------ALL SECTIONS---------------------------------*/
.l-section{
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5%;
}
.l-section__global{
    border-radius: 5%;
    padding: 0 3vw 0 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.l-section__header{
    width: 100%;
    line-height: 1vh;
    margin-bottom: 1vh;
}

.l-section__accomodation{
    width: 60vw;
    height: 80vh;
    background-color: #F2F2F2;
    align-content: space-between;
}
.l-section__popular{
    width: 28vw;
    height: 80vh;
    background-color: #F2F2F2;
}
.l-section > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.l-section__activity{
    width: 92vw;
    height: 70vh;
    margin: 3vh 1.5vw 3vh 1.5vw;
}
/*-----------------------------------------------------FOOTER-----------------------------------*/
footer{
    display: flex;
    width: 100%;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    line-height: 5vh;
    font-size  :100%;
    background-color: #F2F2F2;
}
footer >div{
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin-left: 3vw;
    margin-top : 3vh;
}
/* INTERACTIVE SEARCH HEADER, LOGOS *******until line 233*****/
/*---------------------------------------------INTERACTIVE SEARCH HEADER----------------------------------------*/
.interactive-header{
    line-height: 8vh;
    }
/*INPUT*/
.search {
    display: flex;
    width: 350px;
    height:40px;
    border-radius: 12px;
    border : 1px solid;
    border-color: #F2F2F2 ;
    margin-bottom: 2%;
}
/*cacher logo loupe*/
.fa-search{
    display: none;
}
.search > i{
    border-radius: 7px 0 0 7px;
    padding: 10px 16px 0px 16px;
    margin-right: 5px;
    background-color: #F2F2F2;
}
.search > input{
    height: 85%;
    width: 50%;
    border-color : transparent;
    font-size: 110%;
    font-weight: bold;
    color : black;
}
.search > button{
    height: 100%;
    width: 120px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0px;
    border-color: transparent;
    cursor: pointer;
}
/*FILTERS*/
.filters{
    font-weight: bold;
    font-size: 100%;}
.filters > a {
    position: relative;
    border-radius: 50px/50px;
    border : 2px solid;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent ;
    padding: 0.5em;
    margin-right : 0.5em;
    margin-left : 1em;
    font-size: 120%; 
}
.filters > a:hover{
    opacity : 0.7;
}
/*cacher une partie de la bordure des filtres*/
.filters > a > .circle{
    position :absolute;
    width: 3px;
    height:3px;
    border-radius: 50%;
    padding: 1em;
    background-color: rgb(248, 245, 245);
    bottom: 0px;
    left: 0px;
}
.filters > a > i{
    position: relative;
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(0, 100, 250,0.1);
    color: #0065FC;
    margin-left: -10px;
    margin-right : 0.5em;
}
/*-------------------------------------------------LOGOS-----------------------------------*/
/*logo for popular*/
.fa-chart-line{
    height: 20px;
    margin : 6vh 4vw 0 2vw;
    font-size: 130%;
}
.fa-star{
    color :rgb(0, 100, 250);
    font-size: 80%;
}
.fa-info{ 
    position: relative;
    border-radius: 50%;
    padding:  0.4em 0.7em 0.4em 0.7em;
    border : solid 2px;
    border-color: #F2F2F2;
    color: #0065FC;
    margin-left: -10px;
    margin-right : 0.5em;}
.empty{
    color : #c5b5b5;
}
/*----------------------CARDS and PHOTO and DESCRIPTION---------*******until line 439****----------*/
/*-----------------------------------------------------layout, decoration, size-------------*/
/*STANDARDS*/
.card {
    border-radius: 10%;
    position: relative ;

}
.card__accomodation {
    overflow: hidden;
    border: 4px white solid;
    background-color: white;
    width: 16vw;
    height: 27vh;
    box-shadow: 3px 3px 9px rgba(0, 0, 0,0.1), 3px 3px 9px rgba(0, 0, 0,0.1);
}

.card__popular {
    overflow: hidden;
    border: 4px white solid;
    border-radius: 10%;
    background-color: white;
    width: 24vw;
    height:18vh;
    box-shadow: 3px 3px 9px rgba(0, 0, 0,0.1), 3px 3px 9px rgba(0, 0, 0,0.1);
}

.card__activity {
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 3px 3px #F2F2F2, 0 3px 3px #F2F2F2;
}
.container__activity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 60vh;   
    }
/*PARTICULAR SIZE*/
.card__activity--high {
    width: 20vw;
    height: 60vh;
    overflow: hidden;
}
.card__activity--large {
    width: 20vw;
    height: 27vh;
   
}
.card__activity--square {
    width: 20vw;
    height: 32vh;
    overflow: hidden;
  
}
.card__activity--rect {
    width: 20vw;
    height: 20vh;
    overflow: hidden;
}
/*STANDARD PHOTOS*/
.photo
{
    border-radius: 10% 10% 0 0 ;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 16vw;
    height: 17vh;
}
.photo__popular
{
    border-radius: 10%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.photo__activity
{
    border-radius: 10%;
    position: absolute;
}
/*PARTICULAR PHOTOS SIZE*/
/*Hotel de la mer*/
.photo__accomodation__resize{
    max-width: 200%;
    max-height:200%;
    width: 17vw;
    height: 28vh;
    top : -22%;
}
/*Hotel Amina*/
.photo__accomodation__resize2{
    max-width: 200%;
    max-height:200%;
    width: 16vw;
    height: 40vh;
    top : -55%;
}
/*Hotel Bleu-Blanc*/
.photo__resize{
    max-width: 200%;
    max-height:200%;
    width: 10vw;
    top : -52%;
}
/*Vieux port et calanques*/
.photo__activity--high
{
    right : -12vw;
    max-width: 300%;
    max-height: 300%;
    height: 55vh;
    
}
/*Pomègues*/
.photo__activity--square
{
    top: -15vh;
    max-width: 200%;
    max-height: 200%;
    width: 20vw;
    height: 60vh;
}
/*Frioul*/
.photo__activity--rect
{
    max-width: 220%;
    max-height:220%;
    width: 20vw;
    height: 22vh;
    
}
/*Longchamp  NDGarde*/
.photo__activity--large
{
    max-width: 120%;
    max-height: 120%;
    width: 20vw;
    height: 25vh;
}
/*DESCRIPTIONS*/
/*STANDARDS*/
.description{
    position: absolute;
    bottom: 5%;
    background-color:rgb(255, 255, 255);
    border-radius: 0 0 30% 30% ;
    height: 30%;
    width: 100%;

}
.description > p,h3 {
    padding: 0 0 0 1vw;
    line-height: 5px;
    font-size: 95%;
    color: black;
    margin-top: 0.8em;
}
/*POPULAR*/
.description__popular{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 5%;
    background-color:rgb(255, 255, 255);
    border-radius: 0 30% 30% 0 ;
    height: 100%;
    width: 55%;
}
.description__popular > p,h3{
    padding: 0 0 0 1vw;
    font-size: 115%;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.card__popular > a > .description__popular > h3 {
    line-height: 20px; margin-bottom: -5px;
}
/*ACTIVITY*/
.description__activity{
    position: absolute;
    bottom: 0;
    background-color:rgb(255, 255, 255);
    border-radius: 0 0 30% 30% ;
    height: 5vh;
    width: 19vw;
    padding: 0.5vw;
    font-size: 100%;
    color: black;
    }

.description__activity > h3 {
    font-weight: bold;
    margin: 1vh 0 0 1vw;
}
/*Particular Case*/
.description__activity--position{
    bottom: -7px;
    }
.description__animahotel {
        height: 41%;
        bottom: -5%;
        border-radius: 0 0 0 0;
    }

/***********************------------MEDIA QUERIES----------------****************************/



@media screen and (max-width: 460px){

.body{
   display: flex;
   
}    

.logo{
    width: 50%;
}

/*SITE HEADER*/
.l-section__header{
    margin: 120px 5% 0 5%;
}
header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}
/*Texte d'entrée*/
.l-section__header > h1 {
    line-height: 30px;
    font-size: 1.4em;
}
.l-section__header > p {
    font-size: 0.9em;
}
/* nav blue bar */
.responsiveNav{
    width: 48%;
    text-align: center;
    margin:0;
    padding-bottom: 20px;
    border: 2px solid;
    border-color: transparent transparent #F2F2F2 transparent;
}
#picker{
    border-color: transparent transparent rgb(0, 100, 250) transparent;
}
#inscription{
    position: absolute;
    order : -1;
    top: 30px;
    right: 10px;
}
/*INTERACTIVE HEADER*/
.interactive-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
}
.interactive-header > span{
    font-size: 0.8em;
}
.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search > button {
    width: 40px;
    border-radius: 20%;
}
/*cacher texte Rechercher*/
.search > button > span {
    display: none;
}
/*afficher search logo*/
.fa-search{
    display: block;
}
.filters{
    display: flex;
    flex-wrap: wrap;
}
.filters > span{
    width: 100%;
}
.filters > a{
    height: 39px;
    font-size: 0.9em;
    margin: 10px 5px 0 0;
    padding: 0 10px 0 0;
}
/*cacher une partie de la bordure des filtres*/
.filters > a > .circle{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    top: -2px;
    left: -6px;
}
.filters > a > i{
    padding: 14px;
    margin-left: 0px;
    margin-right : 0.5em;
    bottom: 1px;
}

/*-----CORPS------*/
section > header{
    height: 20vh;
}
section > header > h2 {
    margin:0; 
}
.l-section{
    border-radius: 0;
}

.l-section__accomodation{
    height: auto;
    width: 100%;
    order: 1;
    background-color: white;
    flex-direction: column;
}
.l-section__accomodation > article{
    display: flex;
    justify-content: space-around;
}
.card__accomodation{
    width: 85%;
    margin-bottom: 20px;
}
.photo{
    max-width:200%; 
    max-height:200%;
    width: 400px;
    height: 300px;
    left: -50px;
    top: -70px;
}
.description{
    height: 50%;
    bottom: -12%;
}
.l-section__popular{
    width: 100%;
    flex-direction: column;
}
.l-section__popular > article {
    display: flex;
    justify-content: space-around;
}
.card__popular{
    width: 85%;
}
.photo__popular{
    min-height: 100%;
    min-width: 100%;
}
.l-section__activity
{
    height: auto;
    width: 100%;
}
.description__popular{
    width: 75%;
    left: 40%;
}
/*inutile ?*/
.l-section__activity > article {
    display: flex;
    justify-content: space-around;
    border : none;
    border-radius: 0;
}
.card__activity{
    width: 85vw;
    height: 27vh;
}
.container__activity{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin : 0;
}
.container__activity >  article{
    display: flex;
    justify-content: space-around;
}
.description__activity{
    width: 100%;
    height: 40%;
    bottom: -10%;
}
.photo__activity{
    min-height: 100%;
    min-width: 100%;
}
    

/*-----------------------------------------------------FOOTER-----------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size  :100%;
    background-color: #F2F2F2;
}
footer >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-top : 1vh;
    margin-bottom: 2vh;
}}

/***------------------------------------TABLETTE----------------------------------------------*/





@media only screen and (min-width: 460px) and (max-width: 768px){

.body{
   display: flex;
}    
.logo{
    width: 30%;
}
/*SITE HEADER*/
.l-section__header{
    margin: 120px 5% 0 5%;
}
header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    margin : 0;
}
/*Texte d'entrée*/
.l-section__header > h1 {
    margin-top: 3vh;
    line-height: 30px;
    font-size: 1.4em;
}
.l-section__header > p {
    font-size: 1.3em;
}
/* nav blue bar */
.responsiveNav{
    font-size: 1.3em;
    width: 48%;
    text-align: center;
    margin:0;
    padding-bottom: 20px;
    border: 2px solid;
    border-color: transparent transparent #F2F2F2 transparent;
}
#picker{
    border-color: transparent transparent rgb(0, 100, 250) transparent;
}
#inscription{
    position: absolute;
    order : -1;
    top: 30px;
    right: 10px;
    font-size: 1.3em;
}
/*INTERACTIVE HEADER*/
.interactive-header{
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
}
.interactive-header > span{
    font-size: 1.1em;
}
.search {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.search > button {
    width: 40px;
    border-radius: 20%;
}
/*cacher texte Rechercher*/
.search > button > span {
    display: none;
}
/*afficher search logo*/
.fa-search{
    display: block;
}
.filters{
    display: flex;
    flex-wrap: wrap;
}
.filters > span{
    width: 15%;
    align-self: center;
}
.filters > a{
    height: 39px;
    font-size: 1.2em;
    margin: 10px 5px 0 0;
    padding: 0 10px 0 0;
}
/*cacher une partie de la bordure des filtres*/
.filters > a > .circle{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    top: -2px;
    left: -6px;
}
.filters > a > i{
    padding: 11px;
    margin-left: 0px;
    margin-right : 0.5em;
    bottom: 1px;
}

/*-----CORPS------*/
.l-section{
    border-radius: 0;
}
.l-section > header{
    display: flex;
    justify-content: center;
    height: 100px;
}
section > header > h2 {
    margin:0; 
    font-size: 2em;
}
.l-section__accomodation{
    margin: auto;
    height: auto;
    width: 90%;
    order: 1;
    background-color: white;
    flex-direction: column;
}
.l-section__accomodation > article{
    display: flex;
    justify-content: space-around;
}
.card__accomodation{
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
}
.photo{
    max-width:200%; 
    max-height:200%;
    width: 600px;
    height: 300px;
    left: -50px;
    top: -70px;
}
.description{
    height: 50%;
    bottom: -12%;
}
.l-section__popular{
    width: 90%;
    height: 800px;
    margin: auto;
    flex-direction: column;
    align-content: space-between;
}
.l-section__popular > article {
    display: flex;
    justify-content: space-around;
}
.card__popular{
    width: 80%;
    height: 200px;
}
.photo__popular{
    min-height: 100%;
    min-width: 100%;
}
.l-section__activity
{
    height: 1800px;
    width: 100%;
}
.description__popular{
    width: 60%;
    left: 50%;
}
/*inutile ?*/
.l-section__activity > article {
    display: flex;
    justify-content: space-around;
    border : none;
    border-radius: 0;
}
.card__activity{
    width: 70vw;
    height: 250px;
}
.container__activity{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 450px;
    margin : 0;
}
.container__activity >  article{
    display: flex;
    justify-content: space-around;
}
.description__activity{
    width: 100%;
    height: 40%;
    bottom: -10%;
}
.photo__activity{
    min-height: 100%;
    min-width: 100%;
}
    

/*-----------------------------------------------------FOOTER-----------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size  :100%;
    background-color: #F2F2F2;
}
footer >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-top : 1vh;
    margin-bottom: 2vh;
}
}

@media only screen and (min-width: 769px) and (max-width: 969px){
section > header > h2{
    font-size: 70%;
}

.description > .h3_hotel_name{
        font-size: 60%;
        line-height: 12px;
}
.description > p{
    font-size: 60%;
    line-height: 2px;
}
.description{
    height: 40%;
}
.description__animahotel{
    bottom: 5%;
}
.description__popular >p{
    font-size: 60%;
}
.description__popular >h3{
    font-size: 70%;
    line-height: 5px;
}
.description__activity{
    height: 20%;
}
.description__activity >h3{
    font-size: 70%;
    line-height: 9px;
}
.fa-star, .star{
    font-size: 40%;
    line-height: 2px;
}

}

@media only screen and (min-width: 970px) and (max-width: 1400px){
.description > .h3_hotel_name{
        font-size: 90%;
        line-height: 12px;
}
.description > p{
    font-size: 80%;
    line-height: 2px;
}
.description{
    height: 40%;
}
.description__animahotel{
    bottom: 5%;
}
.description__popular >p{
    font-size: 80%;
    line-height: 12px;
}
.description__popular >h3{
    font-size: 80%;
    line-height: 12px;
}
.description__activity{
    height: 20%;
}
.description__activity >h3{
    line-height: 17px;
}
.fa-star, .star{
    font-size: 60%;
    line-height: 2px;
}


}