/*--------------------------BASE--------------------------------------*/
/* p body h1 h2  */
body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 1.5em;
}

/*--------------------------LAYOUT-------------------------------------*/
/* header sidebar footer*/
header{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}
nav{
    margin-right : 1vw;
}
nav > a{
    padding : 2vw;
}
.logo{
    margin-left: 3vw;
}
.search {
    display: flex;
    width: 350px;
    height:40px;
    border-radius: 12px;
    border : 1px solid;
    border-color: #F2F2F2 ;
    margin-bottom: 50px;
}
.search > i{
    border-radius: 7px 0 0 7px;
    padding: 10px 16px 0px 16px;
    margin-right: 5px;
    background-color: #F2F2F2;
}
.search > input{
    height: 85%;
    width: 50%;
    border-color : transparent;
}
.search > button{
    height: 100%;
    width: 120px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0px;
    border-color: transparent;
}

.filters{font-weight: bold;}
.filters > a {
    border-radius: 50px/50px;
    border : 1px solid;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent ;
    padding: 0.5em;
    margin-right : 0.5em;
    margin-left : 1em;
    
}
/*cacher une partie de la bordure des filtres*/
.filters > a > .circle{
    position :absolute;
    width: 3px;
    height:3px;
    border-radius: 50%;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    margin-left: -10px;

}
.filters > a > i{
    position: relative;
    border-radius: 50%;
    padding: 0.6em;
    background-color: rgba(0, 100, 250,0.1);
    color: #0065FC;
    margin-left: -10px;
    margin-right : 0.5em;
}

.interactive > input{
    font-weight: bold;
}
.interactive > i{
    border-radius: 25%;
    border : 1px solid black;
    padding: 0.5em;
    background-color: rgba(0, 100, 250,0.1);
    color: black;
    
}
span > i{
    color: rgb(0, 100, 250);
    margin-right : 0.5em;
}

.l-section{
    border-radius: 5%;
    display: flex;
}
.l-section__global{
    border-radius: 5%;
    padding: 0 3vw 0 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.l-section__header{
    width: 100%;
    line-height: 0.5vh;
    margin-bottom: 1vh;
}
.l-section__header > .interactive{
    line-height: 6vh;
}
.l-section__accomodation{
    width: 64vw;
    height: 80vh;
}
.l-section__popular{
    width: 24vw;
    height: 80vh;
}
.l-section__activity{
    width: 92vw;
    height: 70vh;
    margin: 3vh 3vw 3vh 3vw;
}

.l-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5%;
}
.l-article__accomodation{
    background-color: #F2F2F2;
    width: 64vw;
    height: 80vh;
}
.l-article__popular{
    background-color: #F2F2F2;
    }
.l-article__activity{
    width: 92vw;
    height: 70vh;
}    

/*------------------------MODULE-----------------------------------------*/
/*widget list title btn bloc form*/
input{
    font-size: 1em;
}

.card {
    border-radius: 10%;
    position: relative ;
}
.card__accomodation {
    border: 7px white solid;
    background-color: white;
    width: 16vw;
    height: 27vh;
    
}
.card__popular {
    border: 5px white solid;
    border-radius: 10%;
    background-color: white;
    width: 20vw;
    height:18vh;
    
}
.card__activity {
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 3px 3px #F2F2F2, 0 3px 3px #F2F2F2;
}
.card__activity--high {
    width: 20vw;
    height: 60vh;
    overflow: hidden;
}
.container__activity{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 20vw;
height: 60vh;   
}
.card__activity--large {
    width: 20vw;
    height: 27vh;
   
}
.card__activity--square {
    width: 20vw;
    height: 32vh;
    overflow: hidden;
  
}
.card__activity--rect {
    width: 20vw;
    height: 20vh;
    overflow: hidden;
}
.photo
{
    border-radius: 10%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.photo__popular
{
    border-radius: 10%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.photo__activity
{
    border-radius: 10%;
    position: absolute;
}
.photo__activity--high
{
    right : -12vw;
    max-width: 300%;
    max-height: 300%;
    height: 55vh;
    
}
.photo__activity--square
{
    top: -15vh;
    max-width: 200%;
    max-height: 200%;
    width: 20vw;
    height: 60vh;
}
.photo__activity--rect
{
    max-width: 220%;
    max-height:220%;
    width: 20vw;
    height: 22vh;
    
}
.photo__activity--large
{
    max-width: 120%;
    max-height: 120%;
    width: 20vw;
    height: 25vh;
}
.description{
    position: absolute;
    bottom: 5%;
    background-color:white;
    border-radius: 0 0 30% 30% ;
    height: 30%;
    width: 100%;
    
}
.description > p {
    padding: 0 0 0 1vw;
    line-height: 5px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
.description__popular{
    position: absolute;
    right: 5%;
    background-color:rgb(255, 255, 255);
    border-radius: 0 30% 30% 0 ;
    height: 100%;
    width: 55%;
}
.description__popular > p{
    padding: 0 0 0 1vw;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
.description__popular--position{
    bottom: -8px;
    
}
.description__activity{
    position: absolute;
    bottom: 0;
    background-color:rgb(255, 255, 255);
    border-radius: 0 0 30% 30% ;
    height: 5vh;
    width: 19vw;
    padding: 0.5vw;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    }
.description__activity--position{
    bottom: -7px;
    }


.title {
   width: 100%;
   font-size: 1.5em;
}

/*--------------------------STATE--------------------------------------------*/
/*is-active is-visible */